.title{
    margin: 0 0 0 6%;
}

.code{
    background-color: var(--secondary_text);
    width: 60%;
    margin: 2% 0 0 20%;
    height: 400px;
    margin-bottom: 2%;
}

.code p{
    margin: 0 0 0 2%;
    color: var(--white);
}

.code .copy-button{
    height: 50px;
    width: 3%;
    margin: -25% 0 0 55%;
    position: absolute;
}

.code .copy-button button{
    background-image: url('../media/icons8-copiar-50.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    height: 50px;
    width: 100%;
    border: none;
    cursor: pointer;
}