.banner{
    height: 700px;
    background-image: url('https://images.unsplash.com/photo-1563305096-9af2877f57f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner .title{
    margin: 15% 0 0 25%;
}

form{
    height: 50px;
}

.style-rodape{
    margin: 5% 0 0 0;
    display: flex;
    height: 600px;
}

.buttons{
    margin: 1% 0 0 0;
}

.buttons .fans{
    display: flex;
}

.buttons form {
    margin: 0 0 0 5%;
}

.buttons h1{
    margin: 0 0 0 5%;
    cursor: default;
}

.buttons form input[type="submit"]{
    background-color: transparent;
    color: var(--white);
    border: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-box-shadow: 12px 20px 20px -3px rgba(0,0,0,1);
    -moz-box-shadow: 12px 20px 20px -3px rgba(0,0,0,1);
    box-shadow: 12px 20px 20px -3px rgba(0,0,0,1);
}

.buttons .on{
    background-image: url('../media/ON.png'); /* Substitua pelo caminho da sua imagem */
    background-size: contain; /* Ajusta o tamanho da imagem para cobrir todo o botão */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
}

.buttons .off{
    background-image: url('../media/OFF.png'); /* Substitua pelo caminho da sua imagem */
    background-size: contain; /* Ajusta o tamanho da imagem para cobrir todo o botão */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
}

.buttons .title{
    font-size: 1.5em;
}

.lampada{
    margin: -8% 0 0 60%;
}

.vertical-rodape{
    margin: 2% 0 0 3%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    background-image: linear-gradient(to bottom right, var(--gradient-text-initial), var(--defaultbg));
    -webkit-background-clip: text; 
    color: transparent; 
    font-size: 1.3em;
    cursor: default;
}

.section{
    height: 350px;
    margin: 20% 0 0 0;
}

.section .cards {
    height: 350px;
    width: 70%;
    display: flex;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
}

.section .cards .card{
    height: 350px;
    background-color: var(--liteWhite);
    width: 50%;
    border-radius: 10px;
    margin: 0 0 0 1%;
}

.section h3{
    font-weight: bold;
    margin: 0 0 0 5%;
}

.section .text-info{
    height: 350px;
    width: 27%;
    margin: -26% 0 0 0;
    float: right;
    background-color: var(--cardBack);
    border-radius: 10px;
}

.section .cards .card-button{
    height: 50px;
    width: 20%;
    border-radius: 20px;
    background-color: var(--cardBack);
    margin: 18% 0 0 2%;
    position: absolute;
}

.section .text-info .card-button-text{
    height: 50px;
    width: 70%;
    border-radius: 20px;
    background-color: var(--primary);
    margin: 75% 0 0 15%;
}

.section .text-info .card-button-text p, .section .cards .card-button p{
    font-weight: bold;
    margin: 5% 0 0 35%;
    cursor: pointer;
}

.section .text-info .card-button-text p{
    margin: 35% 0 0 35%;
}

.section .text-info .card-button-text a, .section .cards .card-button a{
    color: var(--white);
    text-decoration: none;
}
