{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/default.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100">

</head>
<body>
    
    <div class="banner">
        {% include 'elements/menu.html' %}

        <h1 class="title">IOT API para integrações em arduino ESP32</h1>

    </div>
    

    <div class="buttons" id="Painel">
        {% if data.0.fan == 'ON'%}
            <h1 class="title">Controle manual de fans: <span style="color: green;">ON</span></h1><br>
        {%endif%}
        {% if data.0.fan == 'OFF' or data.0.fan == null or data.0.fan == ''%}
            <h1 class="title">Controle manual de fans: <span style="color: red;">OFF</span></h1><br>
        {%endif%}

        <div class="fans">
            <form action="" method="post">
                <input type="text" name="dados" value="ON-fan" hidden="true">
                <input type="submit" value="" class="on">
            </form>
            <form action="" method="post">
                <input type="text" name="dados" value="OFF-fan" hidden="true">
                <input type="submit" value="" class="off">
            </form>
        </div>
    </div>

    <div class="buttons lampada" id="Painel">
        {% if data.0.lamp == 'ON'%}
            <h1 class="title">Controle manual da lampada: <span style="color: green;">ON</span></h1><br>
        {%endif%}
        {% if data.0.lamp == 'OFF' or data.0.lamp == '' or data.0 == null %}
            <h1 class="title">Controle manual de lampada: <span style="color: red;">OFF</span></h1><br>
        {%endif%}

        <div class="fans">
            <form action="" method="post">
                <input type="text" name="dados" value="ON-lamp" hidden="true">
                <input type="submit" value="" class="on">
            </form>
            <form action="" method="post">
                <input type="text" name="dados" value="OFF-lamp" hidden="true">
                <input type="submit" value="" class="off">
            </form>
        </div>
    </div>

    <div class="section">
        <!-- <img src="{% static 'media/undraw_mobile_testing_re_w7yb.svg' %}" class="home_logo"> -->
        <div class="cards">
            <div class="temperatura card">
                <h3>Temperatura:</h3>
                <div class="card-button"><p><a href="#">Ver mais</a></p></div>
            </div>
            <div class="cooler card">
                <h3>Nivel estimado de CO2:</h3>
                <div class="card-button"><p><a href="#">Ver mais</a></p></div>
            </div>
            <div class="umidade card">
                <h3>Umidade:</h3>
                <div class="card-button"><p><a href="#">Ver mais</a></p></div>
            </div>
        </div>

        <div class="text-info">
            <div class="card-button-text"><p><a href="#">Ver mais</a></p></div>
        </div>

    </div>
    
    <div class="style-rodape">
        {% for i in "123456789123" %}
            <span class="vertical-rodape">統合マイコン制御用リモートインターフェース統合プロジェクト統合プロジェクト統合プロジェクト</span>
        {%endfor%}
    </div>
</body>
</html>