{% load static %}
<div class="menu">
    <ul class="nav" >
        <li class="first"><a href="#Painel">Painel de controle</a></li>

        <div class="hamburguer">
            <center>
                <a href="javascript:void(0);" class="icon" onclick="openMenu()"><img src="{% static 'media/icons8-cardápio-50.png' %}"></a>
            </center>
          
        </div>
        
        <div class="left" id="nav">
            <li class="item"><a href="home">Home</a></li>
            <li class="item"><a href="dash">Dashboard</a></li>
            <li class="item"><a href="logs">Logs</a></li>
            <li class="item"><a href="docs">Documentação</a></li>
        </div>
        
    </ul>

</div>